@CHARSET "ISO-8859-1";

.outerdiv
{
	background-color:#e5f4fb;
	height:500px;
	width:900px;
	border-style:solid;
	border-width:1px;
	
}

#loginScreenPopUp
{
	background-color:#e5f4fb;
	height: 300px;
	width:400px;
	border-style:solid;
	border-width:1px;
	margin:	auto;
	/* margin-top:50px; */
	background-color:#e5f4fb;
}

/* .AuthenticationButtons
{
	width:74px;
	height:70px;
	margin:0px;
	margin-left:0px;
	margin-right:30px;
	float:right;
} */

.AuthenticationButtons
{
	min-width:300px;
	height:35px;
	margin-left: 35px;
	margin-right: 35px;	
	width:300px;
}

.innerdiv2
{
	padding-right: 80px;
	
}

#divVestigeMLM
{
	/* /drupal-7.22/sites/all/modules/VestigePOS/VestigePOS/images/yitem.png */
	
	background-image: url("/sites/all/modules/VestigePOS/VestigePOS/images/WelcomeBOS.jpg");
	
	height:500px;
}


.ui-dialog-titlebar-close {
  visibility: hidden;
}

.ui-dialog .ui-dialog-titlebar
{
	text-align:center;
}

.courierDetailsActionButtons
{
	height:30px;
	min-width:80px;
	float:right;
}