

@CHARSET "ISO-8859-1";
.divCustomerReturnOuter
{
	background-color:#e5f4fb;
	width:1050px;
	border-style:solid;
	border-width:1px;
	margin-left:-50px;
	

}

.requiredList
{
	height:28px;
	width:150px;
	word-wrap:normal;
	vertical-align:middle;
	
}

.btnSearchCRResetClass
{
	height:30px;
	min-width:80px;
	margin-right:10px;
}
#divCustomerReturnTab
{
	background-color:#e5f4fb;
}

#divCustomerReturn
{
	background-color:#e5f4fb;
	width:1040px;
	border: 1px solid;
}

#DownlineGrid
{
	background-color:#e5f4fb;
	width:1040px;
	border: 1px solid;
}

#DivSearch
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
}
#DivCreate
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
	background-color:#e5f4fb;
}

.CustomerReturnCreateDiv
{
	background-color:#e5f4fb;
}

.divCRCreateAddClearButtons
{
	margin-top:5px;
	margin-bottom:5px;
	float:right;
	height:30px;
}
	

.divCRDeductionPayableAmount
{
	width:400px;
	clear:both;
}
	

.divCRCreateActionButtons
{
	height:30px;
	float:right;
	margin-top:5px;
	margin-bottom:5px;
	
} 

.CRCreateActionButtons
{
	height:30px;
	margin-right:10px;
	min-width:80px;
}

.divItemPromotiondDetailPopUpAction
{
	height:30px;
	width:600px;
	margin-top:5px;
	margin-bottom:5px;
	
}  

.itemPromotiondDetailPopUpAction
{
	height:30px;
	margin-right:10px;
	min-width:80px;
	float:right;
}
.DISActionButtons
{
	
}
.searchResultTopic
{
	background-color:#0375bb;
	color: white;
	width:1040px;
	display:inline-block;
	
}
.DistributorMasterInformation
{
	border:1px solid;
	width:1040px;
}
.DistributorCurrentPreviousPvBvComputation
{
	border:1px solid;
	width:1040px;
	
}
.DistributorCurrentRanking
{
	border:1px solid;
}
.divAddClearButtons
{
	height:15px;
	padding-right:20px;
}
.btnAddSearch
{
	float:right;
	margin-right:20px;
	height:30px;
}
/* .divTOCreateActionButtons
{
	height:15px;
	padding-right:20px;
} */

.divTOIActionButtons
{
	height: 20px;
}

/* .TOCreateActionButtons
{
	float:right;
} */
.ui-tooltip {
    border: 1px solid white;
    background: rgba(20, 20, 20, 1);
    color: white;
  }
  .set {
    display: inline-block;
  }
  .notification {
    position: absolute;
    display: inline-block;
    font-size: 1.3em;
    padding: .5em;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
  
  
  859-1";