@CHARSET "ISO-8859-1";


.tileMe li {
    display: inline;
    float: left;
}
.outerdiv
{
 background-color:yellow;
}
.second_div{
 background-color:yellow;
}
.disable_fields
{
	background-color:#F0F0F0  ;	
}
#pv_month
{
	width:180px;
}
#firstname
{
	width:200px;
}
.option_for_dist_reg
{
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
	background-color:#e5f4fb;
}
.divContactInfo1
{
	float:left;
}

.divContactInfo2
{
	float:left;
	margin-left:140px;
}

.requiredList
{
	word-wrap:normal;
	vertical-align:middle;
}

 .distributorRegistrationFormOptions
{
	height:30px;
	min-width:80px;
	float:right;
	margin-right: 10px;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  
 .outerdiv
{
	background-color:#e5f4fb;
	width:900px;
	border-style:solid;
	border-width:1px;
}
.innerdiv1
{
	height:70px;
	border: 1px solid black;
}
.innerdiv2
{
	height:80px;
	border: 1px solid black;
}
.innerdiv3
{
	border: 1px solid black;	
}
.bankInformationDiv
{
	height:30px;
}

