@CHARSET "ISO-8859-1";
.DistributorInfoSearchOuterdiv
{
	background-color:#e5f4fb;
	width:1050px;
	border-style:solid;
	border-width:1px;
	margin-left:-50px;
	

}

#DivDistributorInfoSearchTab
{
	background-color:#e5f4fb;
}

#distributorInfoSearchAction
{
	background-color:#e5f4fb;
	width:1040px;
	border: 1px solid;
	
}

#DistributorPanBankInfoPopUp
{
	background-color:#FFFFB8;	
	border:3px solid blue;
	text-align:center;
}

#DownlineGrid
{
	background-color:#e5f4fb;
	width:1040px;
	border: 1px solid;
	clear:both;
}

#divBonusGrid
{
	background-color:#e5f4fb;
	width:1040px;
	border: 1px solid;
	clear:both;
}

.divInvoiceGrid
{
	background-color:#e5f4fb;
	width:1040px;
	border: 1px solid;
	clear:both;
}

.globalTdWithNoPadding
{

}

#DivDistributor
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
}
#DivDownlines
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
}
#DivBonus
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
}
#DivTodayInvoice
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
}
#DivCurrentMonthInvoice
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
}

#DivAllInvoice
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
}
#DivSuccess
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
}
.DISActionButtons
{
	float:right;
	height:30px;
	min-width:60px;
}
.divSuccessOuter
{
	width:1044px;
}
.searchResultTopic
{
	background-color:#0375bb;
	color: white;
	width:1040px;
	
}
.DistributorMasterInformation
{
	border:1px solid;
	width:1040px;
}
.DistributorCurrentPreviousPvBvComputation
{
	border:1px solid;
	width:1040px;
	
}
.DistributorCurrentRanking
{
	border:1px solid;
	width:1040px;
}

.divDISHistAddress
{
	float:left;
	width:390px;
}

.divDISHistInfo
{
	float:left;
	width:370px;
}


#BankPANAccountPopUp
{
	background-color:#e5f4fb;	
}

#distributorHistoryPopUp
{
	background-color:#e5f4fb;
}
.divCreditCardActionButtons
{
	
	clear:both;	
	
}
.DISActionButtonsDiv
{
	height:30px;
	
}
.divDistributorSuccessHeader
{
	background-color:#e5f4fb;
	padding-left: 245px;
}
.divDistributorRankOrganizationWise
{
	float:left;
	width:520px;
	border:1px solid;
	
}

.distributorRankMonthWise
{
	float:left;
	width:517px;
	border:1px solid;
}


.DisabledField
{
	background-color : #ebebe3;
}

.ui-tooltip {
    border: 1px solid white;
    background: rgba(20, 20, 20, 1);
    color: white;
  }
  .set {
    display: inline-block;
  }
  .notification {
    position: absolute;
    display: inline-block;
    font-size: 1.3em;
    padding: .5em;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }