.divlocationBlock
{
	background-color:#e5f4fb;
	width:1050px;
	border-style:solid;
	border-width:1px;
	margin-left:-50px;
	/*height:660px;*/
}
.searchResultTopic
{
	background-color:#0375bb;
	color: white;
	width:1041px;
	display: inline-block;
	
	
}
#divLocationBlockTab
{
	background-color:#e5f4fb;
	border-radius:3px;
	background: #ccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	height:40px;
	margin:3px;
	moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	
	
}
#DivSearch
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
	margin:2px;
}
.button {
    background-color: #4CAF50; /* Green */
   border-style: outset;
    color: white;
    border-color: #4CbF50;
    text-align: center;
    border-width: 3px;
	
    box-shadow: 2px 3px gray;
    font-size: 25px;
    
    
	width:80px;
	height:30px;
	border-radius: 5px;
}

.button:hover {
    background-color: #4CCF50; /* Green */
   border-style: outset;
    color: white;
    border-color: #4CfF50;
    text-align: center;
    border-width: 3px;
	
    box-shadow: 2px 3px gray;
    font-size: 14px;
    
    
	width:80px;
	height:30px;
	border-radius: 5px;
}

.buttoncourier {
	background-color: rgb(79, 228, 255);
box-shadow: 2px 3px #gray;
    color: white;
    border-style: outset;
    text-align: center;
    border-color: rgb(79, 228, 255);
   border-width: 3px;
    font-size: 25px;
    margin: 4px 2px;
	width:80px;
	height:30px;
	border-radius: 5px;
}

.button2 {
	background-color: #ffffff;
box-shadow: 2px 3px #gray;
    color: #888888;
    border-style: outset;
    text-align: center;
    border-color: #888888;
   border-width: 3px;
    font-size: 25px;
    margin: 4px 2px;
	width:80px;
	height:30px;
	border-radius: 5px;
} /* Blue */
.button3 {background-color: #f44336;
box-shadow: 2px 3px #gray;
    color: white;
    border-style: outset;
    text-align: center;
    border-color: #ff4336;
   border-width: 3px;
    font-size: 25px;
    margin: 4px 2px;
	width:80px;
	height:30px;
	border-radius: 5px;
    } /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */