@CHARSET "ISO-8859-1";

.LTOouterdiv
{
	background-color:#e5f4fb;
	height:610px;
	width:900px;
	border-style:solid;
	border-width:1px;
}
#logTeamOrderInvoicePopUp
{
	border: 1px solid;
	background-color:#0375bb;
}
#invoicesForAllLog
{
	height:30px;
}
#InvoiceStatusGrid
{
	background-color:#0375bb;
}
.loginvoice
{
	float:right;
	min-width:80px;
	height:30px;
}
.courierDetailsActionButtons
{
	min-width:80px;
	height:30px;
	float:right;
}
.loginvoiceExit
{
	float:right;
	min-width:80px;
	height:30px;
}
#LTOPickUpCenterId
{
	vertical-align:middle;
	word-wrap:normal;
}
.CommonSelect
{
	width:120px;
	height: 25px;
}
.LTOinnerdiv1
{
	border: 1px solid black;
}
.LTOinnerdiv2
{
	margin-top:10px;
	border: 1px solid black;
}
.LogTeamOrderButtons
{
	height:30px;
	min-width:80px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:10px;
	float:right;
	
}
.LogTeamOrderButtons2
{
	height:30px;
	min-width:80px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:10px;
	float:right;
	
}
.LTOPaymentDescGridDiv
{
	height:75px;
	float:left;
	border:1px solid;
	
}
.LTOPaymentButtonsDiv
{
	height:75px;
	float:left;
}
.LTOPaymentButtons
{
	height:30px;
	min-width:80px;
	margin:0px;
	margin-left:0px;
	margin-right:8px;
	float:right;	
}
.logTeamOrderGridDiv
{
	border:1px solid;
	width:900px;
	height:150px;
	clear:both;
}



