@CHARSET "ISO-8859-1";


/*For all look up */
.informationTopic
{
	background-color:#0375bb;
	color: white;	
}
#divLookUp
{
	border: 1px solid;
	background-color:#0375bb;
}

#divLookUp1
{
	border: 1px solid;
	background-color:#0375bb;
}

.divLookUpButtons
{
	background-color:#e5f4fb;
	height:30px;
}
.divLookUpButtons1{
	background-color:#e5f4fb;
	height:40px;
	margin-top:5px;
}
.LookUpButtons
{
	height:30px;
	float:right;
}
.divSearchResetButtons
{
	height:30px;
}
.lookUpActionButtons
{
	height:30px;
	min-width:80px;
	float:right;
	margin-right:10px;
	
}
/*TOI LookUp */

