@CHARSET "ISO-8859-1";


.outer_div
{
	background-color:white;
	width:1016px;
	border-style:solid;
	border-width:1px;
	margin-left:-50px;
}

#distributor_Address
{
	height:100%;
	width:97%;
	resize:none;
	
}


.divShortInventoryAction
{
	float:right;
	
}

#POSRemarks
{
	height:100%;
	resize: none;
	width: 95%;
}
.side_div_outer
{
	width:330px;
	float:left;
}
.side_bar_top_div
{
	background-color:#f3f3f3;
	height:120px;
	width:328px;
	border-style:solid;
	border-width:1px;
	
}
.side_bar_barcode
{
	background-color:white;
	height:50px;
	border-style:solid;
	border-width:1px;
	
}
.all_message_alert
{
	background-color:white;
	height:30px;
	width: 300px;
	
	
	color: red;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	
	
}
.side_bar_barcode .order_info
{
	background-color:white;
	
}
.payment_grid 
{
	
	border-style:solid;
	border-width:1px;
	
}
#side_bar_middle_div
{
	width:328px;
	
	border:1px solid;
}
.side_bar_bottom_div
{
	background-color:#f3f3f3;
	height:92px;
	width:328px;
	border-style:solid;
	border-width:1px;
}
.content_outer
{
	float:left;
	width:685px
}
.content_first
{
	border-style:solid;
	border-width:1px;
	width:685px;
	height:72px;
	padding-left:0px;
	padding-right:0px;

}
.option_for_order
{
	border-style:solid;
	border-width:1px;
	width:685px;
	height:72px;
	padding-left:0px;
	padding-right:0px;

}
.item_cat_button
{
	background-color:#C0C0C0 ;
	width:685px;
	height:130px;
	border-style:solid;
	border-width:1px;
}
.item_cat_button #dynamic_buttons
{
	
	background-color:#C0C0C0;
	width:600px;
	height:130px;
	overflow-y:scroll;
	float:left;
	
}
.item_cat_button .right_side_buttons
{
	background-color:#C0C0C0 ;
	height:130px;
	float:left;
	width:60px;
}
.item_cat_button .right_side_buttons .item_options
{
	width:84px;
	height:62px;
}
.content_second
{
	border-style:solid;
	border-width:1px;
	width:685px;
	height:237px;
	background-color:#f3f3f3;
}
.content_second .pos_distributer
{
	margin:0px;
	float:left;
	width:205px;
}
.content_second .pos_stock_point
{
	margin:0px;
	float:left;
	width:205px;
}
.content_second .pos_delivery
{
	margin:0px;
	float:left;
	width:205px;
}
.content_second .pos_giftVoucher_getAddress
{

	width: 70px;
	margin-bottom: -10px;
	float: left;
	
}
.payment_buttons_div
{
	background-color:#C0C0C0 ;
	width:685px;
	height:130px;
	border-style:solid;
	border-width:1px;
}
.payment_buttons_div #payment_promotion_buttons
{
	
	
	
}
.payment_buttons_div #payment_promotion_buttons #payment_buttons
{
	background-color:#C0C0C0;
	width:600px;
	height:65px;
	overflow-y:scroll;
	float:left;
}
.payment_buttons_div #payment_promotion_buttons #promotion_buttons
{
	background-color:#C0C0C0;
	width:600px;
	height:65px;
	overflow-y:scroll;
	float:left;
}
.payment_buttons_div #payment_promotion_buttons .refresh_clear_payment_div
{
	background-color:#C0C0C0 ;
	height:65px;
	float:left;
	width:60px;
}
.payment_buttons_div .refresh_clear_payment_div .item_options
{
	width:84px;
	height:62px;
}
#payment_buttons .payment
{
	width:87px;
	height:65px;
	margin:0px;
	margin-left:0px;
	margin-right:0px;
	float:left;
}
#payment_buttons .promotion_empty
{
	width:87px;
	height:65px;
	margin:0px;
	margin-left:0px;
	margin-right:0px;
	float:left;
}
#promotion_buttons .promotion
{
	width:87px;
	height:65px;
	margin:0px;
	margin-left:0px;
	margin-right:0px;
	float:left;
}

#promotion_buttons .countPromtion
{
	width:87px;
	height:65px;
	margin:0px;
	margin-left:0px;
	margin-right:0px;
	float:left;
}
#dynamic_buttons .category
{
	width:97px;
	height:65px;
	margin:0px;
	margin-left:0px;
	margin-right:0px;
	float:left;
}
#dynamic_buttons .item_button
{
	width:97px;
	height:65px;
	margin:0px;
	-webkit-appearance: button;
	margin-left:0px;
	margin-right:0px;
	float:left;
}
#dynamic_buttons .item_back_button
{
	width:86px;
	height:65px;
	margin:0px;
	margin-left:0px;
	-webkit-appearance: button;
	margin-right:0px;
	float:left;
}
.content_first .pos_button
{
	width:74px;
	height:70px;
	margin:0px;
	margin-left:0px;
	margin-right:0px;
	float:right;
}
.option_for_order .pos_order_button
{
	width:74px;
	height:70px;
	float:right;
	
	
}
.decrease_opacity
{
	opacity:0.5;
	
}
#btnPOS01NewOrder 
{
	background-image: url("../images/vestige_new.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#btnPOS01Confirm 
{
	background-image: url("../images/vestige_save.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#btnPOS01PrintOrder 
{
	background-image: url("../images/vestige_invoice_print.png"); 
	background-repeat: no-repeat;
	background-position: center;
}

#btnPOS01TeamOrder
{
	background-image: url("../images/vestige_team_order.png"); 
	background-repeat: no-repeat;
	background-position: center;
	
}
#btnPOS01RegisterDistributor
{
	background-image: url("../images/vestige_add.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#pos_kit_order
{
	background-image: url("../images/kit_order.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#pos_previous
{
	background-image: url("../images/vestige_previous.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#pos_next
{
	background-image: url("../images/vestige_next.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#btnPOS01PrintInvoice
{
	background-image: url("../images/vestige_print_invoice.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#pos_switch
{
	background-image: url("../images/vestige_switch.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#refresh_categories_items
{
	background-image: url("../images/vestige_refresh.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#refresh_payment_modes
{
	background-image: url("../images/vestige_refresh.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#clear_item
{ 
	background-image: url("../images/clear_items.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#clear_payment
{
	background-image: url("../images/ClearPayment.png"); 
	background-repeat: no-repeat;
	background-position: center;
	
}

#pos_save_button
{
	background-image: url("../images/vestige_save.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#btnPOS01ModifyOrder
{
	background-image: url("../images/vestige_modify.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#btnPOS01Cancel
{
	background-image: url("../images/vestige_cancel.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#image_on_button
{
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}
#pos_confirm_order
{
	background-image: url("../VestigePOS/confirm.png"); 
	background-repeat: no-repeat;
	background-position: center;
}

#history
{
	background-image: url("../images/History.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#reports
{
	background-image: url("../images/Reports.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#distributorQuery
{
	background-image: url("../images/DistributorInfo.png"); 
	background-repeat: no-repeat;
	background-position: center;
}
#pucUpdate
{
	background-image: url("../images/PUCUpdate.png"); 
	background-repeat: no-repeat;
	background-position: center;
}


.disable
{
	background-color:#888888;
	
}
.POSLoginHistoryExtraDiv
{
	height:50px;
	width:1016px;
	border-style:solid;
	border-width:1px;
}

.ui-menu 
{
	position: absolute; width: 100px;
}

.POSLoginHistoryExtraButtons
{
	height:50px;
	margin-right:5px;
}
#giftVoucherPopUp
{
	background-color:#e5f4fb;
	border:	1px solid;
	
}

#getAddressPopUp
{
	background-color:#e5f4fb;
	border:	1px solid;
	
}
#creditPopUp
{
	background-color:#e5f4fb;
	border:	1px solid;
}
#bonusChequePopUP
{
	background-color:#e5f4fb;
	border:	1px solid;	
}
#InvoiceStatusGrid
{
	border: 1px solid;
	background-color:#0375bb;
}

#historyPopUP
{
	background-color:#e5f4fb;
	border:	1px solid;	
}
.ui-tooltip {
    border: 1px solid white;
    background: rgba(20, 20, 20, 1);
    color: white;
    white-space: pre-line;
  }
  .set {
    display: inline-block;
  }
  .notification {
    position: absolute;
    display: inline-block;
    font-size: 1.3em;
    padding: .5em;
    background-color:#FFFF99;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
#giftVoucherHtmlTable
{
	width:300px;
}

.divgetAddressActionButtons
{
	float:right;
}
.divGiftVoucherActionButtons
{
	float:right;
}
.divhistoryActionButtons
{
	float:right;
	margin-right:0px;
	margin-top:10px;
}

.historyActionButtons
{
	height: 30px;
	width: 80px;
	float: right;
	margin-left: 10px;
	margin-top: 10px;
}
.divBonusCheuqeActionButtons
{
	float:right;
}
.divCreditCardActionButtons
{
	float:right;
}

#divHistoryGrid
{
	border:1px solid;		
}

#divHistoryFooter1
{
	float:left;
	width:380px;
}

#divHistoryFooter2
{
	float:left;
	width:360px;
	margin-right:0px;
}
#divGiftVoucher
{
	border:1px solid;
}
#divGiftVoucherItems
{
	border: 1px solid;
}
#divLookUp
{
	border: 1px solid;
	background-color:#0375bb;
}

#divShortInventoryGrid
{
	border: 1px solid;
	background-color:#0375bb;
}
.informationTopic
{
	background-color:#0375bb;
	color: white;	
}
.divSearchResetButtons
{
	background-color:#e5f4fb;
	height:30px;
}
.searchItemLookUpButtons
{
	height:30px;
	float:right;
}

.LookUpButtons
{
	float:right;
	height:30px;
	min-width:80px;
}
#courierChargeApplyOrNot{
	width:100px;
	vertical-align:middle;
	word-wrap:normal;
	
}

.divLookUpButtons
{
	height:30px;
}

#shortInventorydiv
{
	border: 1px solid;
	background-color:#0375bb;
}

/* Tool Tip css */

.ui-tooltip,.arrow:after {
	background: black;
	border: 2px solid white;
}

.ui-tooltip {
	padding: 10px 20px;
	color: white;
	border-radius: 20px;
	font: bold 14px "Helvetica Neue", Sans-Serif;
	text-transform: uppercase;
	box-shadow: 0 0 7px black;
}

.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}

.arrow.top {
	top: -16px;
	bottom: auto;
}

.arrow.left {
	left: 20%;
}

.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	tranform: rotate(45deg);
}

.arrow.top:after {
	bottom: -20px;
	top: auto;
}

 .ui-menu
 { 
	 position: absolute; 
	 width: 100px; 
 }