@CHARSET "ISO-8859-1";

.divPackUnpackOuter
{
	background-color:#e5f4fb;
	width:1050px;
	border-style:solid;
	border-width:1px;
	margin-left:-50px;
	/*height:660px;*/
}

#divPackUnpackTab
{
	background-color:#e5f4fb;
	/*height:650px;*/
}
input[type="text"]:disabled
{
background:#dddddd;
}

#DivSearch
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
	background-color:#e5f4fb;
	
}


#DivCreate
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
	background-color:#e5f4fb;
}


#divPackUnpack
{
	background-color:#e5f4fb;
	width:1030px;
	
}

.searchResultTopic
{
	background-color:#0375bb;
	color: white;
	width:1040px;
	display: inline-block;
	
}
.divPackUnpackSearchButtons
{
	height:30px;
	background-color:#e5f4fb;
	margin-top:5px;
	margin-bottom:5px;
	display:inline-block;
	float:right;
	
}
.PackUnpackSearchButtons
{
	height:30px;
	float:left;
	margin-right:10px;
	min-width:80px;
	
}
#DivPackUnPackSearchGrid1
{
	clear:both;
	width:530px;
	float:left;
	border:1px solid;
}
#DivPackUnPackSearchGrid2
{
	float:left;
	border:1px solid;
	width:450px;
}

.PUFieldFormat
{
	width:200px;
}
#divPackUnpackCreate
{
	width:1030px;
	background-color:#e5f4fb;
}
.divPackUnpackCreateButtons
{
	height:30px;
	background-color:#e5f4fb;
	margin-bottom:5px;
	margin-top:5px;
	display: inline-block;
	float: right;
}
.divPackUnpackActionButtons
{
	height:30px;
	width:1040px;
	background-color:#e5f4fb;
	margin-top:5px;
	margin-bottom:5px;
	
}
.PackUnpackCreateButtons
{
	height:30px;
	float:left;
	margin-right:10px;
	min-width:80px;
}
#divPankUnpackCreateGrid
{
	width: 1040px;
	border: 1px solid;
	clear: both;
}
	