@CHARSET "ISO-8859-1";

/* font for table to be increased */


.divPickUpCentreAccOuter
{
	background-color:#e5f4fb;
	width:1050px;
	height:620px;
	border-style:solid;
	border-width:1px;
	margin-left:-60px;
}

.divPUCAccActionButtons
{
	text-align: center;
}

.divPUCAccAddClearButtons
{
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
	width:1050px;
}

.PUCAccAddClearButtons

{
	height:30px;
	float:right;
	min-width:80px;	
	margin-right:10px;
	
}

.PUCAccDepositTitle
{
	background-color:#0375bb;
	color: white;
	width:1050px;
	clear: both;
	
}

#divPUCAccDepositGrid
{
	background-color:#e5f4fb;
	width:1048px;
	border: 1px solid;
}
.divPUCAccountAction
{
	float:right;
	padding-top:10px;
}

.PUCAccountAction
{
	height:30px;	
	float:right;
	min-width:80px;
	margin-right:10px;
}

.PUCAccountAction1
{
	height:30px;	
	float:right;
	min-width:80px;
	margin-right:10px;
}

#divPUCAccGrid
{
	background-color:#e5f4fb;
	width:1048px;
	border: 1px solid;
}

.PUCAccTopic
{
	background-color:#0375bb;
	color: white;
	width:1050px;
	height:	25px;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
}

.btnPUCAccExit
{
	float:right;
	width: 70px;
}

.requiredList
{
	height: 22px;
	width: 150px;
}
.divPUCRemarksButton
{
	height:30px;
	background-color:#0375bb;
	
}
.btnPUCRemarks
{
	height:30px;
	float:right;
	min-width:80px;
}
#divPUCRemarks
{
	background-color:#0375bb;
}