@CHARSET "ISO-8859-1";


  .ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 8em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

  
  
  .divButtonDiv
  {
  	height:85px;
  	width:100px;
  	border:1px solid;
  	float:left
  }
  
  .divDynamicDiv
  {
  	height:120px;
  	width:945px;
  	background-color:#e5f4fb;
  	border:1px solid;
  	float:left;
  }
  
  .divReportViewerOuter
  {
	width:1050px;
	height:720px;
	border-style:solid;
	border-width:1px;
	margin-left:-60px;
  }
  .divReportParams{
  	width:100%;
  	height:80px;
  	background-color:#e5f4fb;
  	display: inline-block;
  }
  
  .divReportAction
  {
  	display: inline-block;
  	float: right;
  }
  
  
  
  #tabs
  {
  	clear:both;
  }
  .reportViewerDiv
  {
  	width:500px;
  	height:400px;
  	float:left;
  	border:1px solid;
  }
  .divReportViewerAction
  {
  	height:83%;
  	width:100px;
  	border:1px solid;
  	float:left
  }
  .reportViewerAction
  {
  	height:70px;
  	width:100px;
  	float:left;
  }
  .divReportDisplayArea
  {
  	height:83%;
  	width:945px;
  	border:1px solid;
  	float:left
  }
 .reportViewerButton{
  float:left;
	height:30px;
	min-width:80px;
  }
Select
{
	width:140px;
	height:25px;
	vertical-align:middle;
	word-wrap:normal;
}
.hilite{
	background-color: #99ff32;
}