
@CHARSET "ISO-8859-1";

@CHARSET "ISO-8859-1";
.divGoodReceiptNoteOuter
{
	background-color:#e5f4fb;
	width:1050px;
	border-style:solid;
	border-width:1px;
	margin-left:-50px;
	

}

#divGoodReceiptNoteTab
{
	background-color:#e5f4fb;
}

#divGoodReceiptNote
{
	background-color:#e5f4fb;
	width:1040px;
	border: 1px solid;
	display: inline-block;
}

.requiredList
{
	height:28px;
	width:150px;
	word-wrap:normal;
	vertical-align:middle;
}
#DownlineGrid
{
	background-color:#e5f4fb;
	width:1040px;
	border: 1px solid;
}

#DivSearch
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
}
#DivCreate
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
	background-color:#e5f4fb;
	display: inline-block;
}

.GoodReceiptNoteCreateDiv
{
	background-color:#e5f4fb;
}

.DISActionButtons
{
	
}
.searchResultTopic
{
	background-color:#0375bb;
	color: white;
	width:1040px;
	display: inline-block;
	
}
.DistributorMasterInformation
{
	border:1px solid;
	width:1040px;
}
.DistributorCurrentPreviousPvBvComputation
{
	border:1px solid;
	width:1040px;
	
}
.DistributorCurrentRanking
{
	border:1px solid;
}
.divAddClearButtons
{
	height:15px;
	padding-right:20px;
}
.btnAddSearch
{
	float:right;
	margin-right:20px;
	height:30px;
}
.divGRNCreateActionButtons
{
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
	display: inline-block;
	float:right;
	
} 

.GRNCreateActionButtons
{
	height:30px;
	float:left;
	min-width:80px;
	margin-right:10px;
}

.divTOIActionButtons
{
	height: 20px;
}

.divGRNSearchResetButtons
{
	margin-bottom:5px;
	display:inline-block;
	height:30px;
	float:right;
}

.GRNSearchResetButtons
{
	height:30px;
	float:left;
	min-width:80px;
	margin-right:10px;
}
.TOCreateActionButtons
{
	float:right;
}
.DivGRNBatchDetailsGrid
{
	border:1px solid;
}
.ui-tooltip
{
	border: 1px solid white;
	background: rgba(20, 20, 20, 1);
	color: white;
}

.set
{
	display: inline-block;
}

.notification 
{
	position: absolute;
	display: inline-block;
	font-size: 1.3em;
	padding: .5em;
	box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.5);
}