@CHARSET "ISO-8859-1";


.divReportOuter {
	width: 1050px;
	height: 720px;
	border-style: solid;
	border-width: 1px;
	margin-left: -60px;
}

.divReportTitle {
	background-color: #0375bb;
	color: white;
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin-top:2px;
	margin-bottom:2px;
}

.divReportSelection{
	height:30px;
	width:100%;
	margin-top:2px;
	margin-bottom:2px;
	padding-left:10px;
	background-color:#e5f4fb;
}

.divReportSearchCondition{
	height:10%;
	width:100%;
}
.divReportAction{
	height:30px;
	width:100%;
	margin-top:2px;
	margin-bottom:2px;
	background-color:#e5f4fb;
}
.divReportViewer{
	height:500px;
	width:100%;
	margin-top:2px;
	margin-bottom:2px;
}

.showCalender
{
	width:140px;
}
Select
{
	width:140px;
	height:25px;
	vertical-align:middle;
	word-wrap:normal;
}
/*
css on element level.
*/
.reportTypeSelection{
	width:400px;
	vertical-align:middle;
}

.reportViewerButton{
	float:right;
	height:30px;
	min-width:80px;
}

#BOLocationId{
	background-color: #f3f3f3;
}

.disabled.location{
	background-color: #f3f3f3;
}

.disabled{
	background-color: #f3f3f3;
}
