	
.divOuter
{
	background-color:#e5f4fb;
	height:400px;
	width:400px;
	border-style:solid;
	border-width:1px;
	
}

.divShortInventoryMessage
{
	background-color:#e5f4fb;
	height: 25px;
	text-align: center;
	width:398px;
	border-style:solid;
	border-width:1px;
	
}
	
.divShortInventoryAction
{
	background-color:#e5f4fb;
	height: 30px;
	text-align: center;
	width:398px;
	
}	
	
.shortInventoryAction
{
	float:right;
}	
	
.ui-tooltip {
    border: 1px solid white;
    background: rgba(20, 20, 20, 1);
    color: white;
  }
  .set {
    display: inline-block;
  }
  .notification {
    position: absolute;
    display: inline-block;
    font-size: 1.3em;
    padding: .5em;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }	