@CHARSET "ISO-8859-1";


.divStockAdjustmentOuter
{
	background-color:#e5f4fb;
	width:1050px;
	border-style:solid;
	border-width:1px;
	margin-left:-50px;
	

}
#divStockAdjustmentTab
{
	background-color:#e5f4fb;
}

#DivTOICreateGrid
{
	border:1px solid;
}
.divStockAdjustmentActionButtons
{
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
	display: inline-block;
	float:right;
}


#divStockAdjustmentAction
{
	background-color:#e5f4fb;
	width:1040px;
	border: 1px solid;
}

#DownlineGrid
{
	background-color:#e5f4fb;
	width:1040px;
	border: 1px solid;
}

#DivSearch
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
}
#DivCreate
{
	padding-left: 0px;
	padding-top: 0px;
	display:inline-block;
}

.DISActionButtons
{
	
}
.searchResultTopic
{
	background-color:#0375bb;
	color: white;
	width:1040px;
	border: 2px solid;
	border-color: #0375bb;
	display: inline-block;
	
}
.DistributorMasterInformation
{
	border:1px solid;
	width:1040px;
}
.divStockAdjustmentItemDetails
{
	border:1px solid;
	width:1040px;
}
.DistributorCurrentRanking
{
	border:1px solid;
}
.divAddClearButtons
{
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
	display: inline-block;
	float: right;
}
.btnAddSearch
{
	height:30px;
	float:left;
	margin-right:10px;
	min-width:80px;
	margin-bottom:5px;
	
}

.divTOICreateActionButtons
{
	height:15px;
	padding-right:20px;
}
.StockAdjustmentActionButtons
{
	float:left;
	height:30px;
	margin-right:10px;
	min-width:80px;
}


.LookUpImageClass
{
	vertical-align:middle;
}
.allButtonBackgroundColor
{
	background-color:blue;
}
.ui-tooltip {
    border: 1px solid white;
    background: rgba(20, 20, 20, 1);
    color: white;
  }
  .set {
    display: inline-block;
  }
  .notification {
    position: absolute;
    display: inline-block;
    font-size: 1.3em;
    padding: .5em;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }