

@CHARSET "ISO-8859-1";
.divStockCountOuter
{
	background-color:#e5f4fb;
	width:1050px;
	border-style:solid;
	border-width:1px;
	margin-left:-50px;
	

}

.btnSearchCRResetClass
{
	height:30px;
	float:right;
	min-width:80px;
	margin-right:10px;
}

.SCSearchActionButton
{
	height:30px;
	float:right;
	min-width:80px;
	margin-right:10px;
}


#divStockCountTab
{
	background-color:#e5f4fb;
}

#DivSCSearchGrid
{
	border:1px solid;
	width:1040px;
	clear:both;
}

#divSCCreateItemGrid
{
	border:1px solid;
	width:1040px;
	clear:both;
}

#SCCreateBatchGrid
{
	border:1px solid;
	width:1040px;
	clear:both;
}

#divStockCount
{
	background-color:#e5f4fb;
	width:1040px;
	border: 1px solid;
}

#DownlineGrid
{
	background-color:#e5f4fb;
	width:1040px;
	border: 1px solid;
}



#DivSearch
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
}
#DivCreate
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
	background-color:#e5f4fb;
}

.StockCountCreateDiv
{
	background-color:#e5f4fb;
}

.divCRCreateAddClearButtons
{
	margin-top:5px;
	margin-bottom:5px;
	width:1040px;
	height:30px;
}

.CRCreateActionButtons
{
	float:right;
}
	

.divCRDeductionPayableAmount
{
	width:400px;
	clear:both;
}
	

.divCRCreateActionButtons
{
	height:30px;
	width:1040px;
	margin-top:5px;
	margin-bottom:5px;
	
} 

.SCCreateActionButtons
{
	height:30px;
	margin-right:10px;
	min-width:80px;
} 
.SCCreateBatchAddClearButtons
{
	height:30px;
	margin-right:10px;
	min-width:80px;
	float:right;
}

.divSCCreateBatchAddClearButtons
{
	height:30px;
	margin-bottom:5px;
	margin-top:5px;
	width:1040px;
}
.divSCCreateActionButtons
{
	height:30px;
	margin-bottom:5px;
	margin-top:5px;
	width:1040px;	
}

.divSCCreateBatchGrid
{
	border:1px solid;
	width:1040px;
	clear:both;	
}

.SCCreateActionButtons
{
	height:30px;
	margin-right:10px;
	min-width:80px;
	float:right;	
}
.divSCSearchActionButton
{
	height:30px;
	margin-bottom:5px;
	margin-top:5px;
	width:1040px;
}
.divSCCreateAddClearButtons
{
	height:30px;
	margin-bottom:5px;
	margin-top:5px;
	width:1040px;
}

.searchResultTopic
{
	background-color:#0375bb;
	color: white;
	width:1040px;
	
}

.requiredList
{
	background-color: white;
	height: 28px;
	width: 150px;
	vertical-align: middle;
	word-wrap: normal;
}

.ui-tooltip {
    border: 1px solid white;
    background: rgba(20, 20, 20, 1);
    color: white;
  }
  .set {
    display: inline-block;
  }
  .notification {
    position: absolute;
    display: inline-block;
    font-size: 1.3em;
    padding: .5em;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
  
 span.cellWithoutBackground
{
    display:block;
    margin-top:-2px;
    height:14px;
}