@CHARSET "ISO-8859-1";

.DistributorInfoSearchOuterdiv
{
	background-color:#e5f4fb;
	width:1050px;
	border-style:solid;
	border-width:1px;
	margin-left:-50px;

}


#DivDistributorInfoSearchTab
{
	background-color:#e5f4fb;
}

#distributorInfoSearchAction
{
	background-color:#e5f4fb;
	width:1040px;
}

#DownlineGrid
{
	background-color:#e5f4fb;
	width:1040px;
	border: 1px solid;
}

.requiredList
{
	height:28px;
	width:150px;
	word-wrap:normal;
	vertical-align:middle;
}

#DivSearch
{
	padding:0;
	border:1px solid;
}
#DivCreate
{
	padding:0;
	border:1px solid;
	display:inline-block;
}

.DISActionButtons
{
	
}
.searchResultTopic
{
	background-color:#0375bb;
	color: white;
	width:1040px;
	display: inline-block;
	
}
.DistributorMasterInformation
{
	border:1px solid;
	width:1040px;
}
.DistributorCurrentPreviousPvBvComputation
{
	border:1px solid;
	width:1040px;
	height:130px;
	background-color:#e5f4fb;
}
.DistributorCurrentRanking
{
	border:1px solid;
}
.divAddClearButtons
{
	float:right;
	height:30px;
	min-width:80px;
	margin-right:10px;
}
.btnAddSearch
{
	float:left;
	height:30px;
	min-width:80px;
	margin-right:10px;
}
.divTOICreateActionButtons
{
	height:30px;
	width:1040px;
	margin-top:5px;
	margin-bottom:5px;
}
.TOICreateActionButtons
{
	float:left;
	height:30px;
	min-width:80px;
	margin-right:10px;
}
.TOICDefaultActionButtons
{
	float:left;
	height:30px;
	min-width:80px;
	margin-right:10px;
}
.divTOIActionButtons
{
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
	display: inline-block;
	float:right;
}