@CHARSET "ISO-8859-1";

@CHARSET "ISO-8859-1";
.divTransferOutOuter
{
	background-color:#e5f4fb;
	width:1050px;
	border-style:solid;
	border-width:1px;
	margin-left:-50px;
	

}

.exportInvoiceOutOuter
{
	background-color:#e5f4fb;
	width:1050px;
	border-style:solid;
	border-width:1px;
	margin-left:-50px;
}

.requiredList
{
	width:150px;
	height: 25px;
	word-wrap: normal;
	vertical-align:middle;

}
#divTransferOutTab
{
	background-color:#e5f4fb;
	
}

.DISTSearchInput
{
	
}
#divTransferOut
{
	background-color:#e5f4fb;
	width:1040px;
	
	
}

#DownlineGrid
{
	background-color:#e5f4fb;
	width:1040px;
	border: 1px solid;
}

#DivSearch
{
	padding-left: 0px;
	padding-top: 0px;
	border:1px solid;
}
#DivCreate
{
	padding:0;
	border:1px solid;
	background-color:#e5f4fb;
	display:inline-block;
}

.TransferOutCreateDiv
{
	background-color:#e5f4fb;
}

.DISActionButtons
{
	
}
.searchResultTopic
{
	background-color:#0375bb;
	color: white;
	width:1040px;
	display:inline-block;
	
}
.DistributorMasterInformation
{
	border:1px solid;
	width:1040px;
}
.DistributorCurrentPreviousPvBvComputation
{
	border:1px solid;
	width:1040px;
	
}
.DistributorCurrentRanking
{
	border:1px solid;
}
.divAddClearButtons
{
	height:15px;
	padding-right:20px;
}
.btnAddSearch
{
	float:left;
	margin-right:10px;
	height:30px;
	min-width:80px;
}
.divBtnAddSearch
{
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
	display:inline-block;
	float:right;
}
.divTOCreateActionButtons
{
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
	display:inline-block;
	float:right;
}

.divTOIActionButtons
{
	height: 20px;
}

#divLookUp
{
	background-color:#e5f4fb;
	border:	1px solid;
}

.TOCreateActionButtons
{
	height:30px;
	min-width:80px;
	float:left;
	margin-right:10px;
}
.ui-tooltip {
    border: 1px solid white;
    background: rgba(20, 20, 20, 1);
    color: white;
  }
  .set {
    display: inline-block;
  }
  .notification {
    position: absolute;
    display: inline-block;
    font-size: 1.3em;
    padding: .5em;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
  
  
  
